    {{ form_start(form, {'method': 'POST', 'action': path('categorie_new')}) }}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">        
        <div class="form-group">
        {{ form_label(form.nom, "Nom de la catégorie") }}
        {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
        </div>
        <input class="btn btn-primary" type="submit" value="Enregistrer" />
    </div>
    </div>
    {{ form_end(form) }}
